

#logo
{
	display: block;
    margin-left: 1000px;
    margin-right: auto;
	width:250px;
	height:auto;
}
body
{
background-color:white;
color:rgb(00,00,77);
font-family:tahoma;
text-align:center;


}
#title
{
	text-align:left;
	font-size:3em;
	display:block;
	float:left;
	width:70%;
	color:rgb(00,00,77);
	padding-left:120px;
	font-variant:small-caps;
}
.center
{
	text-align:center;
	list-style-position:inside;
}
.onlythisone {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(00, 00, 77);
	
}

header{
	background-color: rgb(51, 102, 204);
}
footer
{
	background-color: rgb(51, 102, 204);
}

.only {
    float: left;
	 width:16%;
	 text-align:center;
}


.only a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
	
}
#Facebook
{
	width:30px;